@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    font-family: 'Sofia Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #043f7f;
    overflow: hidden;
}
p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    padding: 0 15px;
    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    color: #d3d3d3;
    text-align: center;
    padding: 20px 0;
}

.leftside {
    width: 50%;
    float: left;
    background-color: #043f7f;
    padding: 15px;
    box-sizing: border-box;
    height: 100vh;
}
.leftContents {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.toolbar {
    width: 15%;
    float: left;
    background-image: url(/images/backgrounds/blueprint.jpg);
    background-size: cover;
    padding: 15px;
    box-sizing: border-box;
    height: 150vh;
    border-radius: 30px;
    border-color: #e8e8e8;
    border-width: 5px;
    border-style: solid;
    
}
.rightside {
    width: 50%;
    float: right;
    background-image: url(/images/backgrounds/blueprint.jpg);
    background-size: cover;
    padding: 15px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-self: center;
    margin-top: 10px;
}
verticalline {
    border-left: 2px solid #ffffff;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.screen {
    background-color: #ffffff;
    width: 330px;
    height: 717px;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-image: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.lazyhorizontalstack {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
} 
.lazyverticalstack {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.templatecard {
    background-image: url(/images/backgrounds/blueprint.jpg);
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 200px;
    flex-shrink: 0;
    text-align: center;
}
label {
    background-image: url(/images/backgrounds/blueprint.jpg);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: solid #ffffff 2px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-self: center;
    margin-top: 10px;
}
input[type="range"] {
    width: 80%;
    margin: 10px 0;
}
circle {
    background-color: #ffffff;
    border:rgb(0, 0, 0) solid 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 10px 0 10px;
}
sup {
    color: #ffffff;
}
sub {
    color: #ffffff;
}
.centered {
    justify-content: center;
    align-items: center;
    display: flex;
}