@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
    font-family: 'Sofia Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}
p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    padding: 0 15px;
    margin-top: 1px;
    margin-bottom: 1px;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.leftside {
    width: 50%;
    float: left;
    background-color: #e2e2e2;
    padding: 15px;
    box-sizing: border-box;
    height: 100vh;
}
.leftContents {
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.toolbar {
    width: 15%;
    float: left;
    background-image: url(/images/backgrounds/paper.jpg);
    background-size: cover;
    padding: 15px;
    box-sizing: border-box;
    height: 150vh;
    border-radius: 30px;
    border-color: #000000;
    border-width: 5px;
    border-style: solid;
    
}
.rightside {
    width: 50%;
    float: right;
    background-image: url(/images/backgrounds/paper.jpg);
    background-size: cover;
    padding: 15px;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
button {
    background-color: #717171;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-self: center;
    margin-top: 10px;
}
verticalline {
    border-left: 2px solid #000;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
}
.screen {
    background-color: #ffffff;
    width: 330px;
    height: 717px;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-image: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.lazyhorizontalstack {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
} 
.lazyverticalstack {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.templatecard {
    background-image: url(/images/backgrounds/paper.jpg);
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 200px;
    flex-shrink: 0;
    text-align: center;
}
label {
    background-image: url(/images/backgrounds/paper.jpg);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: solid #000000 2px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-self: center;
    margin-top: 10px;
}
input[type="range"] {
    width: 80%;
    margin: 10px 0;
}
circle {
    background-color: #ffffff;
    border:rgb(0, 0, 0) solid 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px 10px 0 10px;
}
.sidebuttonimg {
    filter: invert(100%);
}
.sidebutton {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.centered {
    justify-content: center;
    align-items: center;
    display: flex;
}
.glassnumber {
    clip-path: polygon( 56.25% 12.5%,56.25% 87.5%,56.25% 87.5%,56.189% 88.26%,56.011% 88.981%,55.726% 89.653%,55.345% 90.268%,54.876% 90.814%,54.33% 91.283%,53.716% 91.664%,53.043% 91.948%,52.322% 92.126%,51.563% 92.188%,51.563% 92.188%,50.803% 92.126%,50.082% 91.948%,49.409% 91.664%,48.795% 91.283%,48.249% 90.814%,47.78% 90.268%,47.399% 89.653%,47.114% 88.981%,46.936% 88.26%,46.875% 87.5%,46.875% 21.257%,35.412% 28.895%,35.412% 28.895%,34.745% 29.265%,34.047% 29.517%,33.33% 29.654%,32.607% 29.677%,31.892% 29.59%,31.2% 29.395%,30.542% 29.095%,29.932% 28.693%,29.384% 28.192%,28.912% 27.594%,28.912% 27.594%,28.541% 26.927%,28.29% 26.229%,28.153% 25.512%,28.13% 24.789%,28.217% 24.075%,28.412% 23.382%,28.712% 22.724%,29.113% 22.114%,29.615% 21.566%,30.213% 21.094%,48.963% 8.599%,48.963% 8.599%,49.406% 8.338%,49.87% 8.129%,50.349% 7.972%,50.839% 7.869%,51.337% 7.818%,51.837% 7.821%,52.335% 7.877%,52.827% 7.986%,53.308% 8.15%,53.775% 8.368%,53.775% 8.368%,54.214% 8.635%,54.617% 8.945%,54.981% 9.293%,55.304% 9.677%,55.584% 10.091%,55.818% 10.534%,56.003% 10.999%,56.139% 11.485%,56.222% 11.986%,56.25% 12.5% );
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 60px;
}